@font-face {
  font-family: pfregal;
  src: url("../public/fonts/PFRegalDisplayPro-Regular.ttf");
}

.main-pic-block {
  padding: 40px 0 20px;
  background: url(./images/main-pic.jpg) top left no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  margin-right: 4%;
}

.main-nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.main-nav li {
  margin-right: 20px;
}

.main-nav a{
  margin-bottom: 12px;
  text-decoration: none;
}

.main-nav a:hover {
  color: #d0b875;
}

.main-nav a:active {
  color: #ab9861;
}

.main-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

.clinic-main-text {
  font-size: 27px;
  margin-bottom: 0;
}

.siuzanna-text {
  font-family: pfregal, serif;
  color: #d0b875;
  font-size: 65px;
  margin: 0;
}

.main-title {
  color: #000;
  font-size: 43px;
  margin-top: 45px;
}

.clinic-text {
  font-size: 23px;
  max-width: 400px;
  margin-top: 45px;
}

.btn {
  color: white;
  background: #d0b875;
  font-weight: bold;
  border: none;
  border-radius: 28px;
}

.clinic-btn {
  font-size: 30px;
  padding: 40px 40px;
}

.btn:hover {
  cursor: pointer;
  background: #b9a56a;
}

.btn:active {
  background: #ab9861;
}

.main-second-block {
  margin-top: 150px;
  align-self: flex-end;
  color: #525252;
}

.second-block-number {
  margin-bottom: 0;
  font-size: 18px;
}

.second-block-worktime {
  margin-top: 5px;
  font-size: 10px;
  text-align: right;
}

.main-second-links-block {
  display: flex;
  justify-content: end;
}

.main-second-links-block a {
  display: inline-block;
  width: 30px;
  height: 30px;
  white-space: nowrap;
  text-indent: 35px;
  overflow: hidden;
  margin-right: 5px;
  background-color: #d0b875;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.insta {
  background-image: url('./images/instagram.png');
  background-position: center;
  background-size: 18px;
}

.face {
  background-image: url('./images/facebook.png');
  background-position: bottom;
  background-size: 42%;
}

.second-block {
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.centre-title {
  max-width: 550px;
  margin-top: 0;
}

.second-img-block img{
  width: 580px;
  height: 390px;
  border-radius: 30px;
}



.third-block {
  margin-top: 50px;
}

.title {
  color: #000;
  font-size: 50px;
  margin-bottom: 30px;
}

.title span {
  color: #d0b875;
}

.third-block-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  width: 32%;
  background: #ebe2ce;
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 20px;
}

.fourth-block {
  margin-top: 100px;
  margin-bottom: 100px;
}

.procedure-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 50px;
}

.procedure-box {
  background: white;
  padding: 25px 35px;
  border-radius: 50px;
  box-shadow: 4px 6px 0 -2px rgba(142, 142, 142, 0.2);
}

.procedure-boxes button {
  outline: none;
  border: none;
}

.procedure-box1 {
  background: #ebe2ce;
}

.procedure-box:hover {
  background: #fff7e0;
  cursor: pointer;
}

.procedure-box:active {
  background: #ebe2ce;
}

.fourth-inner-block {
  display: flex;
  flex-wrap: wrap;
}

.fourth-inner-img img{
  width: 500px;
  height: 450px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
}

.fourth-inner-box {
  display: flex;
  flex-direction: column;
  margin-left: 9%;
  font-size: 20px;
}

.fourth-inner-text1 {
  margin: 0 0 25px;
}

.fourth-inner-text2 {
  max-width: 550px;
}

.fourth-table-boxes {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.fourth-table-box {
  display: flex;
  justify-content: space-between;
  background: #ebe2ce;
  padding: 5px 13px;
}

.fourth-table-box2 {
  background: white;
}

.btn-block {
  margin: auto auto 0;
}

.procedure-btn {
  font-size: 25px;
  padding: 33px 37px;
}

.fifth-block {
  margin-bottom: 100px;
}

.app-box {
  width: 200px;
  text-align: center;
}

.app-btn {
  align-self: center;
  border-radius: 50%;
  border: none;
  font-size: 40px;
  color: white;
  background: #ebe2ce;
  width: 55px;
  height: 55px;
  font-weight: normal;
}

.app-inner-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.app-inner-box {
  background: rgba(142, 142, 142, 0.2);
  border-top-right-radius: 78px;
  border-bottom-left-radius: 78px;
}

.app-inner-box img {
  height: 380px;
  width: 230px;
}

.sixth-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.siuzannaK {
  font-family: coolvetica, serif;
  color: #2e2e2d;
  font-style: italic;
  font-size: 50px;
  font-weight: 500;
  margin: 0;
}

.doc {
  font-family: coolvetica, serif;
  color: #6c6d6f;
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
}

.doc-text {
  max-width: 600px;
  font-size: 20px;
}

.oval-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.oval-container1 {
  top: 15%;
  left: 51.5%;
}

.oval-container2 {
  top: 20%;
  left: 53.5%;
}

.oval {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  height: 250px;
  background-color: white;
  border-radius: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Тень для эффекта выступающего блока */
}

.oval-button {
  width: 55px;
  height: 55px;
  margin: 10px;
  background-color: white;
  border: 3px solid #d0b875;
  border-radius: 50%;
}

.oval-button:first-child {
  margin-top: 20px;
}

.oval-button-img {
  background: url("./images/siuzanna.jpg") 50% no-repeat;
  background-size: 140%;
}

.oval-button:hover {
  cursor: pointer;
}

.team-title {
  margin-top: 0;
}

.sixth-img-block img {
  width: 550px;
  height: 450px;
  border-radius: 30px;
}

.seventh-block {
  font-size: 20px;
  margin-bottom: 100px;
}

.seventh-inner-boxes {
  display: flex;
  flex-wrap: wrap;
}

.seventh-inner-img {
  margin-right: 30px;
}

.seventh-inner-img img {
  width: 700px;
  height: 470px;
  border-radius: 30px;
}

.drsiuzanna-title {
  margin-top: 0;
  line-height: 0.7;
  font-family: pfregal, serif;
  color: #d0b875;
  font-size: 40px;
}

.seventh-links-block {
  margin-top: 70px;
  justify-content: start;
}

.insta1 {
 margin-left: 35px;
}

.footer {
  padding: 40px 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: #e9e2ce;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-container a {
  text-decoration: none;
}

.footer-container a:hover {
  color: #d0b875;
}

.footer-container a:active {
  color: #ab9861;
}

.footer-logo {
  width: 200px;
  height: 200px;
}


.appointment-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointment-form-box {
  min-width: 400px;
  background-color: white;
  border-radius: 50px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.appointment-form-box p {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.appointment-form-box h3 {
  font-size: 32px;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 16px;
  font-size: 13px;
  border: none;
  border-radius: 20px;
  background-color: #f7f6f7;
  }

.input-group input:focus {
  outline: none;
  border: 1px solid #d0b875;
}

button[type="submit"] {
  margin-top: 35px;
  display: block;
  width: 100%;
  padding: 17px 15px ;
  background-color: #d0b875;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #b9a56a;
}


